<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Reset Password Template</title>
</head>
<body>
<div style="margin: 20px; padding: 40px; background-color: #1d1f28">
    <p style="font-family: Roboto,Helvetica,Arial,sans-serif; color: #fff; font-weight: bold; font-size: 20px;">Leia as instruções abaixo</p>
    <p style="font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 400; line-height: 1.5; color: #e1e1e6; font-size: 15px;">Uma solicitação de recuperação de senha foi realizada para sua conta <span style="font-weight: bold;" th:text="${email}"></span></p>
    <p style="font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 400; line-height: 1.5; color: #e1e1e6; font-size: 15px;">Se você não foi o autor, apenas descarte esse e-mail.</p>
    <p style="font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 400; line-height: 1.5; color: #e1e1e6; font-size: 15px;">Para continuar com a recuperação de senha clique no seguinte link <a href="#" th:href="@{http://localhost:3000/reset(token=${token})}" style="text-decoration: underline; color: #196ad4;">criar nova senha</a>, seja rápido, esse link expira em 15 minutos.</p>
    <p style="font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 400; line-height: 1.5; color: #e1e1e6; font-size: 15px;">Fique na paz - Equipe Teach Crafter</p>
</div>
</body>
</html>
